html,
body,
#app {
  height: 100%;
  width: 100%;
  overflow: hidden;

  --topbar-height: 33px;
  --radius-size: 10px;
  --inner-radius-size: 5px;
  --side-width: 65px;
  --main-border: 10px;
  --side-margin: 10px;

  --title-size: 35px;
  --ava-title: 40px;

  --bg-color0: #2c2c2c;
  --bg-color1: #242424;
  --bg-ac-color0: #ffffff0f;

  --color0: #6e6195;
  --color1: #d3c8c1;
  --color2: #5a385b;
  --color3: #ac4d85;
  --color4: #728b9a;

  --text-color0: #999999;
}
